<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShitShit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShitShit.Properties.Settings>
            <setting name="health" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="food" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="sleep" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="happy" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="lastscoreCB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastscoreR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastscoreFG" serializeAs="String">
                <value>0</value>
            </setting>
        </ShitShit.Properties.Settings>
    </userSettings>
</configuration>